<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
  </head>
  <body>
    <h1>Hi <%= @request.name %></h1>

    <p>
      <%# TODO -> Pass token instead of request_id  (@request) | security issue %>
      Please click on this <%= link_to 'link', confirm_email_url(request: @request) %> to confirm your email address
    </p>
  </body>
</html>

